section {
    padding-inline: 135px;
}

.flex-vertical-align {
    display: flex;
    align-items: center;
}

.flex-horizontal-align {
    display: flex;
    justify-content: center;
}

.text-grey {
    color: var(--text-2);
}

button {
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.custom_input {
    border-radius: 4px;
    padding: 7px 12px;
    display: flex;

    &.email {
        border: 1px solid var(--primary-1);

        input {
            color: var(--primary-1);
        }
    }

    &:focus-within {
        outline: 1px solid black
    }

    input {
        background-color: transparent;
        border: none;
        padding: 3px;
        outline: none;

        flex: 1 1 auto;
    }
}

.category_card {
    padding: 2rem 3.5rem;
    border: 1px solid var(--button-300);

    width: fit-content;

    border-radius: 0.25rem;

    transition: 0.3s;

    &:hover {
        color: var(--primary-1);
        background-color: var(--secondary-3);

        img {
            filter: invert(1)
        }
    }

    img {
        width: 3.5rem;
        height: 3.5rem;

        object-fit: cover;
    }

    p {
        margin-top: 1rem;
    }
}

.item_card {
    position: relative;
    width: 270px;
    padding: 0.5rem;

    img {
        padding: 27px 32px;
        height: 250px;
        box-sizing: border-box;
    }

    .price {
        color: var(--secondary-3);
    }

    .old_price {
        color: var(--text-2);
        text-decoration: line-through;
    }

    .flex-vertical-align {
        gap: 0.25rem 0.5rem;

        flex-wrap: wrap;
    }

    .new_item {
        position: absolute;
        top: 1rem;
        left: 1rem;

        background-color: var(--button-green);
        color: white;

        border-radius: 0.25rem;
        padding: 0.25rem 0.75rem;
    }

    .button_wrapper {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        display: grid;
        gap: 0.25rem;
    }

    .cart {
        position: absolute;
        padding: 0.25rem;
        bottom: calc(100% - 250px);
        left: 0;
        right: 0;
        background-color: var(--button);
        color: white;
        
        text-align: center;
        
    }

    button {
        font-size: 1.25rem;
    }
}

.color_picker {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    &>* {
        width: 1rem;
        height: 1rem;

        border-radius: 50%;
    }
}

input.custom_radio {
    position: absolute;
    visibility: hidden;

    &:checked + label.custom_radio {
        font-weight: bold;
    }
}

label.custom_radio {
    cursor: pointer;
}